HOST=0.0.0.0
PORT=1337
APP_KEYS=generate_me_later_1,generate_me_later_2
API_TOKEN_SALT=generate_me_salt
ADMIN_JWT_SECRET=generate_me_admin_jwt
TRANSFER_TOKEN_SALT=generate_me_transfer
JWT_SECRET=generate_me_jwt
DATABASE_CLIENT=postgres
DATABASE_HOST=neutra-cms-db
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=strapi
DATABASE_SSL=false
